.createHeader {
    width: 50rem;
    height: 2rem;
    margin: auto;
    border-radius: 1rem;
    background-color: beige;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.createHeader img {
    width: 4rem;
    
}
